<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://hermes.digitalinnovation.one/assets/diome/logo-minimized.png" width="40" height="34"
                alt="logo dio minimizada" class="d-inline-block align-text-top">
            Desafio DIO
        </a>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Destaques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Noticias</a>
            </li>
        </ul>

        <ul class="nav redes justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="https://www.linkedin.com/in/clemiltonazevedo/">Linkedin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/ClemiltonIrineu">GitHub</a>
            </li>
        </ul>

    </div>
</nav>