<app-title></app-title>
<div class="container-Card">
    <div class="destaque">
        <app-card-destaque Id="1" photoCover="./assets/images/cardDefault.png" cardTitle="Card Destaque 1"
            cardDescription="Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado
        desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um
        livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração
        eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou
        decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de
        editoração eletrônica como Aldus PageMaker."> </app-card-destaque>
        <app-card-destaque Id="2" photoCover="./assets/images/cardDefault.png" cardTitle="Card Destaque 2"
            cardDescription="Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado
        desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um
        livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração
        eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou
        decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de
        editoração eletrônica como Aldus PageMaker."> </app-card-destaque>
        <app-card-destaque Id="3" photoCover="./assets/images/cardDefault.png" cardTitle="Card Destaque 3"
            cardDescription="Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado
        desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um
        livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração
        eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou
        decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de
        editoração eletrônica como Aldus PageMaker."> </app-card-destaque>
    </div>
    <div class="list">
        <app-card-list Id="4" photoCover="./assets/images/cardDefault.png" cardTitle="Card List 1"> </app-card-list>
        <app-card-list Id="5" photoCover="./assets/images/cardDefault.png" cardTitle="Card List 2"> </app-card-list>
        <app-card-list Id="6" photoCover="./assets/images/cardDefault.png" cardTitle="Card List 3"> </app-card-list>
        <app-card-list Id="7" photoCover="./assets/images/cardDefault.png" cardTitle="Card List 4"> </app-card-list>
        <app-card-list Id="8" photoCover="./assets/images/cardDefault.png" cardTitle="Card List 5"> </app-card-list>
        <app-card-list Id="9" photoCover="./assets/images/cardDefault.png" cardTitle="Card List 6"> </app-card-list>



    </div>
</div>